@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Chivo+Mono&family=Commissioner:wght@400;500;700&family=Fraunces:wght@700;900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@400;700&family=Karla:wght@400;500&family=Kumbh+Sans:wght@700&family=League+Spartan:wght@400;500;600;700&family=Manrope:wght@500;800&family=Monoton&family=Montserrat:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400;1,800&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;500;700&family=Rubik:wght@400;500&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0 20px;

  font-family: "Roboto", sans-serif;
  color: #f8f2f2;

  background-color: #030202;
}

/* nav */

.desktop-nav {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  position: sticky;
  top: 0;

  background-color: #030202;

  border-bottom: 1px solid #183d3d;

  z-index: 2;
}

.logo {
  margin: 0;
  font-size: 25px;

  padding: 20px 20px;
}

.menu-btn {
  width: 30px;
  padding: 10px 20px;

  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 80px;
  right: 20px;

  background-color: #183d3d;

  padding: 40px;
}

.mobile-nav a {
  border-bottom: none;

  padding: 20px;

  width: 100%;

  text-align: center;
}

.mobile-nav a:nth-child(2) {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.mobile-nav a:nth-child(3) {
  border-bottom: 1px solid white;
}

/* nav */

/* main page*/

.main-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 70px;
}

.hero-img {
  background-color: #376865;

  padding: 20px;
  margin: 70px 0 20px;

  border-radius: 100%;

  clip-path: polygon(
    84% 4%,
    99% 37%,
    99% 60%,
    94% 85%,
    70% 98%,
    34% 100%,
    20% 90%,
    0% 70%,
    6% 41%,
    33% 12%
  );
}

.hero-texts {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.hero-texts h1 {
  width: 100%;
  max-width: 430px;
  font-size: 35px;
  line-height: 40px;
}

.hero-texts p {
  font-size: 20px;
  letter-spacing: 1px;
}

span {
  border-bottom: 7px solid #54a09d;
  border-radius: 10px;
}
/* main page*/

/* experience */

hr {
  background-color: aqua;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  margin: 70px 0;
}

.experience h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin: 10px 0;
}

.experience h5 {
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 20px;
  color: #f8f2f2ab;
}

/* experience */

/* projects */

.projects {
  margin: 20px auto 60px;
}

.heading {
  text-transform: uppercase;
  font-size: 25px;

  border-bottom: 3px solid #00fff762;

  display: inline-block;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-img {
  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name {
  font-size: 25px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.project-tech {
  font-size: 20px;
  word-spacing: 10px;
  color: #f8f2f2ab;

  margin: 10px 0 20px;
}

.project {
  width: fit-content;
}

a {
  color: #f8f2f2;
  border-bottom: 2px solid aqua;

  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}

/* projects */

/* about */

.about {
  background-color: #183d3d50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin: 40px 0;
}

.about-image-container {
  position: relative;
}

.about-texts a {
  font-size: 17px;
}

.about-image {
  width: 350px;

  position: absolute;

  z-index: 1;
}

.about-texts h1 {
  font-size: 35px;
  display: inline-block;
  border-bottom: 2px solid #54a09d;
  padding: 10px;
}

.about-texts {
  padding: 10px;

  line-height: 23px;
  font-size: 17px;

  width: 100%;
  max-width: 600px;
}

.image-bg {
  width: 350px;
  background-color: #93b1a6;
  height: 470px;

  clip-path: polygon(26% 9%, 100% 35%, 100% 100%, 0 100%, 0 47%);
}

/* about */

/* footer & contact */

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;

  margin-top: 40px;
}

.contact h1 {
  font-size: 30px;
  margin: 0;
}

.contact p {
  font-size: 18px;
  width: 100%;
  max-width: 500px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
}

.socials img {
  width: 35px;
}

.socials img:nth-child(2) {
  width: 50px;
}
/* footer & contact */

@media (width > 850px) {
  main {
    padding: 0;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 500px;

    padding: 10px 40px;
  }

  .desktop-nav a {
    border-bottom: none;

    transition: 0.3s;
  }

  .desktop-nav a:hover {
    color: aqua;
    border-bottom: 1px solid white;
  }

  .menu-btn {
    display: none;
  }

  .main-hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;

    width: 100%;
  }

  .hero-texts {
    text-align: left;
  }

  .hero-texts p {
    margin-top: 40px;
    font-size: 17px;
    line-height: 22px;
  }
  .hero-texts h1 {
    line-height: 50px;
  }

  .hero-texts span {
    font-size: 45px;
    letter-spacing: 1px;
  }

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    margin: 100px 0;
  }

  .experience h1:hover {
    color: #54a09d;
  }

  .projects {
    padding: 0 50px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center ;

    gap: 20px;
  }

  .project img {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
  }

  .project-name {
    font-size: 20px;
  }

  .project-tech {
    font-size: 17px;
  }

  .about {
    flex-direction: row;
    align-items: center;
  }

  .about-texts {
  }

  .contact {
    padding: 20px;
  }

  .contact p {
    width: 500px;
    margin: 50px 0;
  }
}

@media (width > 1200px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
